h1,
h2,
h3,
p,
ul,
input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: block;
}
@media screen and (min-width: 768px) {
  ul {
    display: flex;
  }
}

header {
  position: relative;
  display: block;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-color: rgba(236, 236, 236, 0.7);
  border-bottom-style: solid;
}

body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.remove-padding-part {
  padding-top: 0;
}

@media screen and (max-width: 480px) {
  .section.remove-padding-part {
    padding-bottom: 0;
  }
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.wrap--header {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
}
@media screen and (min-width: 768px) {
  .wrap--header {
    padding: 21px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .wrap--header {
    padding: 25px 15px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link--current {
  position: relative;
  color: #2196F3;
}
.site-nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -32.5px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    margin-left: auto;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
    flex-direction: row;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

.contacts__link--header {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link--header + .contacts__link--header {
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__link--header + .contacts__link--header {
    margin-left: 50px;
    margin-top: 0;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.mobile-menu__button {
  position: relative;
  right: 0;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 9;
}
@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__icon-menu:hover, .mobile-menu__icon-menu:focus,
.mobile-menu__icon-cross:hover,
.mobile-menu__icon-cross:focus {
  fill: #2196F3;
}

.mobile-menu__button .mobile-menu__icon-cross {
  display: none;
}

.mobile-menu__button.is-open .mobile-menu__icon-menu {
  display: none;
}
.mobile-menu__button.is-open .mobile-menu__icon-cross {
  display: block;
}

.mobile-menu__container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  text-align: left;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  background-color: #ffffff;
  color: #212121;
}
.mobile-menu__container.is-open {
  display: block;
}

.mobile-menu_divider {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}

.mobile-menu__nav {
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu__item + .mobile-menu__item {
  margin-top: 32px;
}

.mobile-menu__link {
  color: inherit;
}
.mobile-menu__link--current {
  color: #2196F3;
}

.mobile-menu__contacts .mobile-menu__phone {
  display: block;
  margin-bottom: 32px;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mobile-menu__contacts .mobile-menu__email {
  display: block;
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social {
  display: flex;
}
@media screen and (max-width: 400px) {
  .mobile-social {
    flex-wrap: wrap;
  }
}

.mobile-social__item {
  padding-left: 10px;
  padding-right: 10px;
}
.mobile-social__item:first-child {
  padding-left: 0;
}
.mobile-social__item:last-child {
  padding-right: 0;
}
.mobile-social__item + .mobile-social__item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-social__item .mobile-social__link {
  display: block;
  color: #2196F3;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.logo {
  color: #2196F3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--top {
  color: #212121;
}

.logo--footer {
  color: #ffffff;
}

.hero {
  height: 400px;
  padding: 118px 60px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imghero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imghero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imghero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imghero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imghero-desktop.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imghero-desktop@2x.jpg);
  }
}
.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    width: 696px;
  }
}

.hero__button {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
}

.backgrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0deg, 0%, 0%, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backgrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backgrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    overflow: scroll;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 6px;
  margin: 0;
  width: 30px;
  height: 30px;
}
.modal__button--close:active {
  border: 1px solid #2196F3;
}

.form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.form__field textarea {
  outline: none;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .form__field textarea {
    max-width: 370px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form__field textarea {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form__field textarea {
    width: 448px;
  }
}

.form__field textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
  outline: none;
  display: block;
  height: 40px;
  padding: 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border: 1px solid rgb(33, 150, 243);
}
@media screen and (max-width: 479px) {
  .form__input:focus {
    max-width: 370px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form__input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 448px;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.form__field textarea:focus {
  border: 1px solid rgb(33, 150, 243);
}

.form__input:focus ~ .form__icon {
  fill: #2196F3;
}

.form__button {
  display: block;
  background-color: #2196F3;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  margin: auto;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox__icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon {
  background-color: #2196F3;
  background-origin: border-box;
  border-color: #2196F3;
  background-image: url("../images/icon-check.svg");
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link {
  font-family: inherit;
  color: #2196F3;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

@media screen and (max-width: 1199px) {
  .our-works {
    display: none;
  }

  .our-works__title {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .our-works__image {
    display: block;
    width: 370px;
  }

  .our-works__item {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .our-works__item + .our-works__item {
    margin-left: 30px;
  }

  .our-works__thumb {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(235deg, 10%, 21%, 0.8);
  }

  .our-works__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.our-team__meta {
  padding: 30px 0;
  background-color: rgb(255, 255, 255);
}

.our-team {
  justify-content: center;
  background-color: #F5F4FA;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.our-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.our-team__item + .our-team__item {
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .our-team__item + .our-team__item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.our-team__item > img {
  display: block;
}

.our-team__names {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social,
.social--footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item,
.social__link,
.social__item--footer,
.social__link--footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item,
.social__link {
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item + .social__item,
.social__item--footer + .social__item--footer {
  margin-left: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  color: rgb(255, 255, 255);
}

.social__icon:hover, .social__icon:focus {
  fill: currentColor;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
}

.clients__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(50% - 30px);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: #ffffff;
  color: #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
  color: #2196F3;
}

.clients__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: currentColor;
}
.clients__icon:hover, .clients__icon:focus {
  fill: currentColor;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__button {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: #F5F4FA;
  border: 0px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: #2196F3;
}

.filter__item + .filter__item {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 391px) and (max-width: 767px) {
  .filter__item:nth-child(4) {
    margin-left: 0;
  }
}

.gallery {
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .gallery {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.gallery__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
.gallery__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .gallery__item + .gallery__item {
    margin-top: 30px;
  }
}

.gallery__item a > img {
  display: block;
}

.gallery__wrap {
  position: relative;
  overflow: hidden;
}

.gallery__thumb {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 0;
  right: 0;
  background-color: hsla(207deg, 90%, 54%, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}

.gallery__thumb p {
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.gallery__item:hover .gallery__thumb {
  transform: translateY(0);
}

.gallery__box {
  border: 1px solid rgb(238, 238, 238);
  padding: 20px 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__box.gallery--first-item {
    padding-bottom: 56px;
  }
}

.gallery__name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__type {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.benefits {
  flex-wrap: wrap;
}

.benefits__item {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .benefits__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__item {
    width: 354px;
  }
  .benefits__item:nth-child(1) {
    margin-bottom: 30px;
  }
  .benefits__item:nth-child(2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

.benefits__item + .benefits__item {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .benefits__item + .benefits__item {
    margin-left: 30px;
    margin-top: 0;
  }
  .benefits__item + .benefits__item:nth-child(3) {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item + .benefits__item:nth-child(3) {
    margin-left: 30px;
  }
}

.benefits__thumb {
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
  display: flex;
  align-items: center;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .benefits__thumb {
    width: 270px;
  }
}

.benefits__icon {
  margin: auto;
}

.benefits__title {
  display: block;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__description {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-footer {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.contacts__link--footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  margin-top: 9px;
}

@media screen and (min-width: 768px) {
  .wrap--footer {
    display: flex;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wrap--footer {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.title--footer,
.signup__call {
  margin-bottom: 20px;
  padding-top: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .footer-column {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-column + .footer-column {
    margin-left: 70px;
  }
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link--footer:hover, .social__link--footer:focus {
  background-color: #2196F3;
  color: #ffffff;
}

.icon--footer {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon--footer:hover, .icon--footer:focus {
  fill: currentColor;
}

/*hover and focus are withing the header contact settings */
/* ----------------------Footer form------------------- */
@media screen and (max-width: 1199px) {
  .signup {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .signup {
    display: flex;
    align-items: flex-end;
    margin-left: 93px;
  }
}

@media screen and (max-width: 1199px) {
  .signup__label {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .signup__label {
    display: flex;
    flex-wrap: wrap;
    width: 358px;
  }
}

.signup__call {
  display: inline-block;
}

.signup_input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  color: #ffffff;
  margin-bottom: 20px;
}
.signup_input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: rgba(255, 255, 255, 0.6);
}
.signup_input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: rgba(255, 255, 255, 0.6);
}
.signup_input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 479px) {
  .signup_input {
    max-width: 450px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .signup_input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .signup_input {
    width: 358px;
    margin-bottom: 0;
  }
}

.signup__button {
  background-color: #2196F3;
  padding: 10px 28px;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.signup > .signup__button::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
  background-size: contain;
}/*# sourceMappingURL=main.css.map */